html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.flex {
  display: flex;
}

body {
  width: 100%;
  height: 100%;
  background: crimson;
}

.title {
  text-align: center;
  margin: 10px auto;
  font-family: sans-serif;
  color: blanchedalmond;
}

.cards-wrap {
  position: relative;
  width: 310px;
  gap: 10px;
  margin: 0 auto 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.count {
  padding: 5px;
  width: 100px;
  font-size: 18px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
}

.stats-wrap {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.card {
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 5px;
  font-size: 22px;
  color: transparent;
  background-image: url("../img/card-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  box-shadow: -2px 4px 0px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease;
  font-size: 0;
}

.card.card-opened,
.card.card-success {
  background: saddlebrown;
}

.card.card-opened .card-icon {
  opacity: 1;
}

.card-icon {
  opacity: 0;
  transition: opacity 0.1s ease;
}

.btn {
  display: block;
  font-family: monospace;
  margin: 0 auto;
  padding: 10px 25px;
  cursor: pointer;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 3px;
  box-shadow: -2px 4px 0px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.reset-btn {
  transform: translateX(-2000%);
}

.reset-btn:hover {
  transform: translate(-3px, 3px);
  box-shadow: none;
}

.reset-btn:active,
.start:active {
  color: #000;
  background-color: rgb(255, 255, 255, 0.4);
}

.reset-btn.display {
  transform: none;
}

.start {
  transform: translateY(-35px);
}

.start:hover {
  transform: translate(-3px, -33px);
  box-shadow: none;
}

.start.remove {
  transform: translateX(-2000%);
}
